In [1]:
import pandas as pd

In [165]:
# crime_df = pd.read_csv('../Data/crime.csv')
crime_df = pd.read_csv('../Data/crime.csv', delimiter=',', quotechar='"')

In [166]:
crime_df.head()

,1,"county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,COVIND,INDEX,MODINDX,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY"
0,2,"""St. Louis city, MO"",1791.995377,1,1,4,1612,31..."
1,3,"""Crittenden County, AR"",1754.914968,2,1,4,130,..."
2,4,"""Alexander County, IL"",1664.700485,3,1,4,604,8..."
3,5,"""Kenedy County, TX"",1456.31068,4,1,4,2681,444,..."
4,6,"""De Soto Parish, LA"",1447.40243,5,1,4,1137,269..."

In [167]:
crime_df.drop('1', axis=1, inplace = True)

In [168]:
columns = crime_df.columns[0].split(',')
columns

['county_name',
 'crime_rate_per_100000',
 'index',
 'EDITION',
 'PART',
 'IDNO',
 'CPOPARST',
 'CPOPCRIM',
 'AG_ARRST',
 'AG_OFF',
 'COVIND',
 'INDEX',
 'MODINDX',
 'MURDER',
 'RAPE',
 'ROBBERY',
 'AGASSLT',
 'BURGLRY',
 'LARCENY',
 'MVTHEFT',
 'ARSON',
 'population',
 'FIPS_ST',
 'FIPS_CTY']

In [169]:
s = crime_df.iloc[0, 0]

In [170]:
# Find the index of the first comma
first_comma_index = s.find(',')

# Find the index of the second comma
second_comma_index = s.find(',', first_comma_index + 1)

In [171]:
s1 = s[:second_comma_index].split(',')
result = ','.join(s1)
s2 = s[second_comma_index:].split(',')
s2[0] = result

In [172]:
col_name = crime_df.columns[0]

In [ ]:
def splitCols(row): 
    s = row[0]
    first_comma_index = s.find(',')
    second_comma_index = s.find(',', first_comma_index + 1)
    
    s1 = s[:second_comma_index].split(',')
    county_state = ','.join(s1).strip()
    
    s2 = s[second_comma_index + 1:].split(',')
    result = [county_state] + [value.strip() for value in s2] 
    return pd.Series(result)

In [174]:
df1 = pd.DataFrame(columns=columns)
df1.head()

Empty DataFrame
Columns: [county_name, crime_rate_per_100000, index, EDITION, PART, IDNO, CPOPARST, CPOPCRIM, AG_ARRST, AG_OFF, COVIND, INDEX, MODINDX, MURDER, RAPE, ROBBERY, AGASSLT, BURGLRY, LARCENY, MVTHEFT, ARSON, population, FIPS_ST, FIPS_CTY]
Index: []

[0 rows x 24 columns]

In [175]:
df1 = crime_df.apply(splitCols, axis=1)
df1.head()

C:\Users\ashwi\AppData\Local\Temp\ipykernel_69928\340360465.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s = row[0]  # Access the first column directly

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,"""St. Louis city, MO""",1791.995377,1,1,4,1612,318667,318667,15,15,...,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"""Crittenden County, AR""",1754.914968,2,1,4,130,50717,50717,4,4,...,38,165,662,1482,1753,189,28,49746,5,35
2,"""Alexander County, IL""",1664.700485,3,1,4,604,8040,8040,2,2,...,2,5,119,82,184,12,2,7629,17,3
3,"""Kenedy County, TX""",1456.31068,4,1,4,2681,444,444,1,1,...,3,1,2,5,4,4,0,412,48,261
4,"""De Soto Parish, LA""",1447.40243,5,1,4,1137,26971,26971,3,3,...,4,17,368,149,494,60,0,27083,22,31

In [ ]:
df1.columns = columns

In [177]:
df1.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,"""St. Louis city, MO""",1791.995377,1,1,4,1612,318667,318667,15,15,...,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"""Crittenden County, AR""",1754.914968,2,1,4,130,50717,50717,4,4,...,38,165,662,1482,1753,189,28,49746,5,35
2,"""Alexander County, IL""",1664.700485,3,1,4,604,8040,8040,2,2,...,2,5,119,82,184,12,2,7629,17,3
3,"""Kenedy County, TX""",1456.31068,4,1,4,2681,444,444,1,1,...,3,1,2,5,4,4,0,412,48,261
4,"""De Soto Parish, LA""",1447.40243,5,1,4,1137,26971,26971,3,3,...,4,17,368,149,494,60,0,27083,22,31

In [178]:
df1['fips_code'] = df1['FIPS_ST'] + df1['FIPS_CTY']

In [179]:
df1.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,fips_code
0,"""St. Louis city, MO""",1791.995377,1,1,4,1612,318667,318667,15,15,...,1778,3609,4995,13791,3543,464,318416,29,510,29510
1,"""Crittenden County, AR""",1754.914968,2,1,4,130,50717,50717,4,4,...,165,662,1482,1753,189,28,49746,5,35,535
2,"""Alexander County, IL""",1664.700485,3,1,4,604,8040,8040,2,2,...,5,119,82,184,12,2,7629,17,3,173
3,"""Kenedy County, TX""",1456.31068,4,1,4,2681,444,444,1,1,...,1,2,5,4,4,0,412,48,261,48261
4,"""De Soto Parish, LA""",1447.40243,5,1,4,1137,26971,26971,3,3,...,17,368,149,494,60,0,27083,22,31,2231

In [180]:
len(df1['index'].unique())

3136

In [181]:
df1.shape

(3136, 25)

In [182]:
columns

['county_name',
 'crime_rate_per_100000',
 'index',
 'EDITION',
 'PART',
 'IDNO',
 'CPOPARST',
 'CPOPCRIM',
 'AG_ARRST',
 'AG_OFF',
 'COVIND',
 'INDEX',
 'MODINDX',
 'MURDER',
 'RAPE',
 'ROBBERY',
 'AGASSLT',
 'BURGLRY',
 'LARCENY',
 'MVTHEFT',
 'ARSON',
 'population',
 'FIPS_ST',
 'FIPS_CTY']

In [183]:
df1 = df1[['fips_code', 'crime_rate_per_100000', 'index', 'MURDER', 'RAPE', 'ROBBERY', 'BURGLRY']]

In [184]:
df1.columns = ['fips_code', 'crime_rate_per_100000', 'crime_id', 'murder', 'rape', 'robbery', 'burglry']

In [185]:
df1['fips_code'] = df1['fips_code'].astype(int)

In [186]:
countydf = pd.read_csv('../Cleaned Data/cleaned_us_counties.csv',)

In [187]:
fips_codes_is_present = df1[df1['fips_code'].isin(countydf['fips_code'])]

In [190]:
fips_codes_is_present.shape

(1265, 7)

In [191]:
fips_codes_is_present.to_csv('../Cleaned Data/cleaned_crime.csv', index=False)